@if (isWithdrawn) {
	<div class="badges layout-align-start-start layout-column">
		<div class="badge-item prm-is-withdrawn layout-row" layout="row">
			<svg id="error-attention" width="1em" height="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
				<path d="M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16"></path>
			</svg>
			<span class="badge-label"> {{ 'delivery.code.withdrawn' | translate }}</span>
		</div>
	</div>
}