.prm-is-withdrawn {
	svg {
		vertical-align: middle;
	}
	background-color: #ffc107;
	border: 1px solid var(--sys-outline);
	border-radius: .5rem;
	font-size: .85em;
	font-weight: 600;
	padding-left: .5em;
	text-transform: uppercase;
}