.no-results-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-block-start: 4rem;
	.did-you-mean-container {
		display: flex;
		flex-direction: column;
		.mat-icon {
			width: 5.938rem;
			height: 5.017rem;
			fill: currentColor;
			svg {
				path {
					fill: var(--sys-primary);
				}
			}
		}
		.no-record-found {
			margin-block-end: .625rem;
			font-size: 1.125rem;
			font-weight: 600;
		}
	}
	.we-suggest-container {
		align-self: center;
		margin-block-start: 1.563rem;
		padding: 1.5rem;
		border: 1px solid var(--border);
		color: var(--sys-outline);
		li {
			&.no-results-option {
				&:before {
					content: ' ';
					background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='green' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E");
					width: 1em;
					height: 1em;
					display: inline-block;
					margin-right: 0.5em;
				}
				a {
					color: var(--sys-primary);
					.mat-icon[data-mat-icon-name="Open-in-a-new-window"] {
						height: 1em;
						width: 1em;
						svg path {
							fill: var(--sys-outline);
						}
					}
				}
			}
		}
	}
}