.wtsHathiTrustLink{
	line-height: 1.2em;
	font-size:smaller;
	display:inline-block;
	margin-top:5px;
	a{
		margin-left: 5px;
	}
	span.icon{
		margin: auto;
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: middle;
		fill: currentColor;
		height: 24px;
		width: 24px;
		min-height: 24px;
		min-width: 24px;
	}
}