.wtsOffensiveMaterialsStatement {
	margin: 1em 0;
	display: flex;
	flex-direction: row-reverse;
	.mdc-button {
		.mat-icon.icon-align-middle {
			height: 1.1em;
			margin-left: .25em;
			svg path {
				fill: var(--sys-outline);
			}
		}
	}
}