.item-grid-added-card {
	background-color: var(--sys-background);
	border-color: var(--darkBG);
	border-radius: 0 0 .5rem .5rem;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	display: flex;
	flex-direction: column;
	font-size: .9em;
	gap: .5rem;
	height: 75px;
	line-height: 1.1em;
	padding: .75rem 1rem 1rem 1rem;
	position: relative;
	text-decoration: none;
}