<!--<p>external-search works!</p>-->
<div class="external-search-wrapper mat-mdc-form-field">
    @if(hasQuery) {
    	<div class="hasQuery">
    		<div class="external-search-container">
    			<button class="external-search-trigger quick-filter-btn margin-bottom-small
    				margin-top-small mdc-button mdc-button--outlined mat-mdc-outlined-button mat-unthemed mat-mdc-button-base"
    				(click)="toggleMenu($event)"
    				[attr.aria-title]="'facets.facet.facet_External Search' | translate">
    				<span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
    				<svg class="mat-icon notranslate nde-mat-icon-size grey-icon-color" 
    					width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
    					<path d="m19 18 5-.9-12.4-7.5-.3.2 2.8 14 2.7-4.2 2.6 3.7c.5.7 1.4.9 2 .5.6-.4.8-1.3.3-2L19 18zM12 21.7c-2 0-3.9-.5-5.5-1.5 1.5 0-1-2 .7-2.4 1.8-.4 2.5-2.3 2-2.3-.6 0-1.7-.3-2.5-1.2-.7-1-1.4-.8-2.2-.6-.7.1-1.5 2-1.8 2.6-.5-1-.9-2.1-1-3.3l2.8-1.6c.8-.6-.2-.9-.4-1.2V8c0-1 1.8-1 2.4-1.8.5-.6-.3-2-.9-2.7a10.5 10.5 0 0 1 8.2-2c.2 1.2.5 2.6 1.2 3 1.2.6 2.6 2 3 2.2.6.3 1.2 2.4 1.1 3.2 0 .6-.9 1.3-1.2 2l5.3 3.2c.4-1.2.6-2.3.6-3.6C23.7 5.2 18.4 0 11.9 0 5.3 0 0 5.2 0 11.5 0 18 5.3 23 12 23h.7l-.3-1.4H12zM22 13a4 4 0 0 0-1.6-2.3c-.6-.5-1.1-2.4-.7-3 .2-.4.8-.7 1.2-.9a9.8 9.8 0 0 1 1.1 6.2zm-5.3 9z"/>
    				</svg>
    				<span class="trigger-text mdc-button__label">
						<span>{{ 'facets.facet.facet_External Search' | translate }}</span>
						<span class="display-flex">
							<span
								role="img"
								class="mat-icon notranslate nde-mat-icon-size mat-icon-no-color"
								[class.rotate-180]="isOpen"
								aria-hidden="true">
								<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M480-360 280-560h400L480-360Z"></path></svg>
							</span>
						</span>
					</span>
    				<span class="mat-focus-indicator"></span>
    				<span class="mat-mdc-button-touch-target"></span>
    				<span class="mat-ripple mat-mdc-button-ripple"></span>
    			</button>
    		</div>
    	</div>
    		
    	<div class="external-search-dropdown user-area-external-list" 
    		[class.show]="isOpen"
    		role="listbox">
    		<a *ngFor="let link of externalLinks"
    			class="external-option mat-mdc-option"
    			[href]="link.url"
    			target="_blank"
    			rel="noopener noreferrer"
    			role="option"
    			(click)="closeMenu()">
    			<svg class="mat-icon notranslate nde-mat-icon-size" 
    				width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
    				<path [attr.d]="getIconPath(link.icon)"/>
    			</svg>
    			<span>{{ link.translationKey | translate }}</span>
    		</a>
    	</div>
	} @else {
    	<div class="notHasQuery" hidden style="padding: 10px; color: red;">
    	    <p>NO QUERY DETECTED - Component loaded but hasQuery is false</p>
    	</div>
	}
</div>