<div class="wtsZoteroInCitation">
	<a href="https://www.zotero.org/"
		target="_blank" 
		class="mdc-button mdc-button--outlined mat-mdc-outlined-button mat-unthemed mat-mdc-button-base"
		mat-ripple-loader-class-name="mat-mdc-button-ripple"
		aria-selected="false"
		attr.aria-label="{{ 'custom.tryZotero' | translate}}"
		layout="row"
		layout-align="center center">
		<span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
		<span class="mat-focus-indicator"></span>
		<span class="mat-mdc-button-touch-target"></span>
		<span class="mdc-button__label">
			<img src="custom/01COL_WTS-WTS_2026/assets/images/zotero-logo.svg"
				height="35"
			/>
			<span class="mat-icon notranslate nde-mat-icon-size icon-align-middle mat-icon-no-color ng-star-inserted">
				<svg viewBox="0 0 24 24" height="100%" width="100%" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
					<path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"></path>
				</svg>
			</span>
		</span>
	</a>
</div>